<div class="display-user-page-outer-container">
    <mat-card class="display-user-page-container">
        <div class="user-info-outer-container">
            <mat-card-content>
                <img mat-card-avatar [src]="user?.profilePhoto" alt="">
            </mat-card-content>
            <mat-card-content>
                <div class="user-info-container">
                    <mat-card-title>{{user?.firstName + " " + user?.lastName}}</mat-card-title>
                </div>
                <div class="user-info-container">
                    <div class="user-info-inner-container">
                        <p><strong>Email:</strong> {{user?.email}}</p>
                        <p><strong>Position:</strong> {{user?.position}}</p>
                        <p *ngIf="userDirectManager"><strong>Direct Manager:</strong> {{userDirectManager}}</p>
                        <p><strong>Residence:</strong> {{user?.country}}</p>
                        <p><strong>Birthday:</strong> {{user?.birthDate}}</p>
                        <p><strong>User Id:</strong> {{user?.id}}</p>
                        <p><strong>Salary:</strong> {{user?.salary}} {{user?.salaryCurrency}}</p>
                    </div>
                    <div class="user-info-inner-container">
                        <p><strong>Phone Number:</strong> {{user?.phoneNumber}}</p>
                        <p><strong>Department:</strong> {{user?.department}}</p>
                        <p *ngIf="userDirectManager"><strong>Direct Manager Id:</strong> {{user?.directManagerID}}</p>
                        <p><strong>Nationality:</strong> {{user?.nationality}}</p>
                        <p><strong>Starting Date:</strong> {{user?.startingDate}}</p>
                        <p><strong>Sex:</strong> {{user?.sex}}</p>
                        <p><strong>Leave Days Left:</strong> {{user?.paidLeaveDaysLeft}}</p>
                    </div>
                </div>
            </mat-card-content>
        </div>
        <div class="display-user-button-container">
            <mat-card-content>
                <div class="display-user-button-inner-container">
                    <button mat-raised-button color="primary" (click)="openUserInfoDialog()">Make Changes</button>
                    <button mat-raised-button color="primary" (click)="openResetPasswordDialog()" *ngIf="loggedUser?.permission === 'admin'">Reset Password</button>
                    <button mat-raised-button color="warn" (click)="openDeleteUserDialog()" *ngIf="loggedUser!.id !== user!.id">Delete User</button>
                </div>
            </mat-card-content>
        </div>
    </mat-card>
</div>