<p class="nav-container">
    <mat-toolbar color="primary">
        <div>
            <button mat-icon-button class="nav-button">
                <mat-icon>home</mat-icon>
            </button>
            <button mat-icon-button class="nav-button">
                <mat-icon>search</mat-icon>
            </button> <button mat-icon-button class="nav-button">
                <mat-icon>schedule</mat-icon>
            </button> <button mat-icon-button class="nav-button">
                <mat-icon>dashboard</mat-icon>
            </button>
        </div>
        <button mat-icon-button >
            <mat-icon>account_circle</mat-icon>
        </button>
    </mat-toolbar>
</p>