<mat-card class="user-representing-card"
(click)="(loggedUser?.permission === 'HR' || loggedUser?.permission === 'admin') ?  handleClick() : null">
    <mat-card-header>
        <div class="img-container">
            <img mat-card-lg-image [src]="user.profilePhoto">
        </div>
        <mat-card-title-group>
            <div>
                <mat-card-title>{{user.firstName + " " + user.lastName}}</mat-card-title>
            </div>
            <div>
                <mat-icon>home</mat-icon>
                <mat-card-subtitle>{{user.department}}</mat-card-subtitle>
            </div>
            <div>
                <mat-icon>person</mat-icon>
                <mat-card-subtitle>{{user.position}}</mat-card-subtitle>
            </div>
        </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
        <div class="content-container">
            <mat-icon> email</mat-icon>
            <p>{{user.email}}</p>
        </div>
        <div class="content-container">
            <mat-icon> phone</mat-icon>
            <p>{{user.phoneNumber}}</p>
        </div>
    </mat-card-content>
</mat-card>