.profile-page-container-not-admin {
    display: flex;

    .first-column {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .second-column {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.profile-page-container-admin {
    display: flex;
    justify-content: center;
}