.create-user-form-container {
  

  mat-card {
    background: rgb(0, 0, 0, 0.3);
  }

  mat-card-header {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;

    mat-card-title {
      font-size: 24px;
    }
  }

  .form-row-container {
    display: flex;
    justify-content: space-around;
    margin: 20px 0px 20px 0px;
  }

  mat-error {
    font-weight: 500;
  }
}







input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}