.leave-request-form-container {
    mat-card {
        align-items: center;
        background: rgba(0, 0, 0, 0.3);
        color: white;
        margin: 30px;
        form {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin: 20px 0px;

            button {
                width: fit-content;
                margin: 15px;
            }
        }
    }
}