<div class="add-company-details-form-container">
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                Add Details:
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="form-wrapper">
                <form #addCountryForm="ngForm" (ngSubmit)="onAddCountryFormSubmit(addCountryForm)">
                    <mat-form-field>
                        <mat-label>Add country</mat-label>
                        <input type="text" ngModel matInput placeholder="Add Country" name="country" #country="ngModel"
                            required>
                        <mat-error *ngIf="country.hasError('duplicate')">The country already exists</mat-error>
                    </mat-form-field>
                    <button mat-raised-button type="submit" color="primary" [disabled]="country.invalid">Add</button>
                </form>
            </div>
            <div class="form-wrapper">
                <form #addNationalityForm="ngForm" (ngSubmit)="onAddNationalityFormSubmit(addNationalityForm)">
                    <mat-form-field>
                        <mat-label>Add nationality</mat-label>
                        <input type="text" ngModel matInput placeholder="Add Nationality" name="nationality"
                            #nationality="ngModel" required>
                        <mat-error *ngIf="nationality.hasError('duplicate')">The nationality already exists</mat-error>
                    </mat-form-field>
                    <button mat-raised-button type="submit" color="primary" [disabled]="nationality.invalid">Add</button>
                </form>
            </div>
            <div class="form-wrapper">
                <form #addCurrencyForm="ngForm" (ngSubmit)="onAddCurrencyFormSubmit(addCurrencyForm)">
                    <mat-form-field>
                        <mat-label>Add currency</mat-label>
                        <input type="text" ngModel matInput placeholder="Add Currency" name="currency"
                            #currency="ngModel" required>
                        <mat-error *ngIf="currency.hasError('duplicate')">The currency already exists</mat-error>
                    </mat-form-field>
                    <button mat-raised-button type="submit" color="primary" [disabled]="currency.invalid">Add</button>
                </form>
            </div>
            <div class="form-wrapper">
                <form #addDepartmentForm="ngForm" (ngSubmit)="onAddDepartmentFormSubmit(addDepartmentForm)">
                    <mat-form-field>
                        <mat-label>Add department</mat-label>
                        <input type="text" ngModel matInput placeholder="Add Department" name="department"
                            #department="ngModel" required>
                        <mat-error *ngIf="department.hasError('duplicate')">The department already exists</mat-error>
                    </mat-form-field>
                    <button mat-raised-button type="submit" color="primary" [disabled]="department.invalid">Add</button>
                </form>
            </div>
            <div class="form-wrapper">
                <form #addPositionForm="ngForm" (ngSubmit)="onAddPositionFormSubmit(addPositionForm)">
                    <mat-form-field>
                        <mat-label>Add position</mat-label>
                        <input type="text" ngModel matInput placeholder="Add Position" name="position"
                            #position="ngModel" required>
                        <mat-error *ngIf="position.hasError('duplicate')">The position already exists</mat-error>
                    </mat-form-field>
                    <button mat-raised-button type="submit" color="primary" [disabled]="position.invalid">Add</button>
                </form>
            </div>
        </mat-card-content>
    </mat-card>
</div>

<!-- <div class="add-company-details-form-container">
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                Add Details:
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="form-wrapper">
                <form #addCountryForm="ngForm">
                    <mat-form-field>
                        <mat-label>Add country</mat-label>
                        <input type="text" ngModel matInput placeholder="Add Country" name="country" #country="ngModel"
                            required>
                        <mat-error *ngIf="country.hasError('duplicate')">The country already exists</mat-error>
                    </mat-form-field>
                </form>
                <button mat-raised-button (click)="onAddCountryFormSubmit(addCountryForm)" color="primary"
                    [disabled]="country.invalid">Add
                    Country</button>
            </div>
            <div class="form-wrapper">
                <form #addNationalityForm="ngForm">
                    <mat-form-field>
                        <mat-label>Add nationality</mat-label>
                        <input type="text" ngModel matInput placeholder="Add Nationality" name="nationality"
                            #nationality="ngModel" required>
                        <mat-error *ngIf="nationality.hasError('duplicate')">The nationality already exists</mat-error>
                    </mat-form-field>
                </form>
                <button mat-raised-button (click)="onAddNationalityFormSubmit(addNationalityForm)" color="primary"
                    [disabled]="nationality.invalid">Add
                    Nationality</button>
            </div>
            <div class="form-wrapper">
                <form #addCurrencyForm="ngForm">
                    <mat-form-field>
                        <mat-label>Add currency</mat-label>
                        <input type="text" ngModel matInput placeholder="Add Currency" name="currency"
                            #currency="ngModel" required>
                        <mat-error *ngIf="currency.hasError('duplicate')">The currency already exists</mat-error>
                    </mat-form-field>
                </form>
                <button mat-raised-button (click)="onAddCurrencyFormSubmit(addCurrencyForm)" color="primary"
                    [disabled]="currency.invalid">Add
                    Currency</button>
            </div>
            <div class="form-wrapper">
                <form #addDepartmentForm="ngForm">
                    <mat-form-field>
                        <mat-label>Add department</mat-label>
                        <input type="text" ngModel matInput placeholder="Add Department" name="department"
                            #department="ngModel" required>
                        <mat-error *ngIf="department.hasError('duplicate')">The department already exists</mat-error>
                    </mat-form-field>
                </form>
                <button mat-raised-button (click)="onAddDepartmentFormSubmit(addDepartmentForm)" color="primary"
                    [disabled]="department.invalid">Add
                    Department</button>
            </div>
            <div class="form-wrapper">
                <form #addPositionForm="ngForm">
                    <mat-form-field>
                        <mat-label>Add position</mat-label>
                        <input type="text" ngModel matInput placeholder="Add Position" name="position"
                            #position="ngModel" required>
                        <mat-error *ngIf="position.hasError('duplicate')">The position already exists</mat-error>
                    </mat-form-field>
                </form>
                <button mat-raised-button (click)="onAddPositionFormSubmit(addPositionForm)" color="primary"
                    [disabled]="position.invalid">Add
                    Position</button>
            </div>
        </mat-card-content>
    </mat-card>
</div> -->