/* You can add global styles to this file, and also import other style files */
@import "@angular/material/theming";

html, body { height: 100%; }
body { 
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-image: url("/assets/background6.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    z-index: -1;
}

.login-page-container {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-image: url("/assets/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    z-index: -1;
}