.login-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    right: 55%;
    position: absolute;
    .login-container {
        background: transparent;
        box-shadow: none;
        display: flex;
        align-items: center;

        mat-card-header {
            margin-bottom: 20px;
            mat-card-title {
            font-size: 30px;
            }
        }

        // width: 200px;
        form {
            display: flex;
            flex-direction: column;
        }

        mat-error {
            font-size: 14px;
            font-weight: 500;
            display: flex;
            justify-content: center;
        }

        mat-form-field {
            width: 370px;
        }
    }
}