<div class="reset-password-form-container">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Reset Password</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form #resetPasswordForm="ngForm" (ngSubmit)="onSubmitResetPasswordForm(resetPasswordForm)">
                <div class="reset-password-form-row">
                    <mat-form-field>
                        <mat-label>New Password</mat-label>
                        <input type="password" matInput placeholder="New Password" name="newPassword" required
                            #newPassword="ngModel" ngModel minlength="8" maxlength="16"
                            (ngModelChange)="passwordsMatchFlag = false">
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Repeat Password</mat-label>
                        <input type="password" matInput placeholder="Repeat Password" name="repeatedPassword" required
                            #repeatedPassword="ngModel" ngModel minlength="8" maxlength="16"
                            (ngModelChange)="passwordsMatchFlag = false">
                    </mat-form-field>
                </div>
                <div class="reset-password-form-row">
                    <button mat-raised-button color="primary" [disabled]="resetPasswordForm.invalid">Save New
                        Password</button>
                </div>
                <div class="reset-password-form-row">
                    <div class="reset-password-form-error-container">
                        <mat-error *ngIf="newPassword.errors?.['minlength'] || newPassword.errors?.['maxlength']">
                            The password should be 8 to 16 characters!
                        </mat-error>
                        <mat-error *ngIf="passwordsMatchFlag">Passwords do not match!</mat-error>
                    </div>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>