.reset-password-form-container {
    mat-card-header {
        justify-content: center;
        display: flex;
        margin: 10px 0px;
    }

    .reset-password-form-row {
        justify-content: space-around;
        margin: 10px 0px;
        display: flex;

        mat-form-field {
            margin: 0px 10px;
        }

        .reset-password-form-error-container {
            mat-error {
                font-weight: 500;
            }
        }
    }
}