<div class="leave-requests-table-container">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Leave Requests</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <table mat-table [dataSource]="notHandledLeaveRequests" matSort class="mat-elevation-z8">

                <ng-container matColumnDef="userRequestingLeaveName">
                    <th mat-header-cell *matHeaderCellDef sortActionDescription="sort by userRequestingLeaveName"> Name
                    </th>
                    <td mat-cell *matCellDef="let leaveRequest">{{leaveRequest.userRequestingLeaveName}}</td>
                </ng-container>

                <ng-container matColumnDef="startDate">
                    <th mat-header-cell *matHeaderCellDef sortActionDescription="sort by startDate"> Start Date
                    </th>
                    <td mat-cell *matCellDef="let leaveRequest">{{leaveRequest.startDate}}</td>
                </ng-container>

                <ng-container matColumnDef="endDate">
                    <th mat-header-cell *matHeaderCellDef sortActionDescription="sort by endDate"> End Date
                    </th>
                    <td mat-cell *matCellDef="let leaveRequest">{{leaveRequest.endDate}}</td>
                </ng-container>

                <ng-container matColumnDef="dateOfCreation">
                    <th mat-header-cell *matHeaderCellDef sortActionDescription="sort by dateOfCreation"> Created On
                    </th>
                    <td mat-cell *matCellDef="let leaveRequest">{{leaveRequest.dateOfCreation}}</td>
                </ng-container>

                <ng-container matColumnDef="isAccepted">
                    <th mat-header-cell *matHeaderCellDef sortActionDescription="sort by isAccepted"> Status
                    </th>
                    <td mat-cell *matCellDef="let leaveRequest">Not Handled</td>
                </ng-container>

                <ng-container matColumnDef="detailsButton">
                    <th mat-header-cell *matHeaderCellDef> Details
                    </th>
                    <td mat-cell *matCellDef="let leaveRequest">
                        <button mat-mini-fab color="primary" (click)="onClickDetailsButton(leaveRequest, loggedUser!)"><mat-icon>launch</mat-icon></button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="tableColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: tableColumns"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[5, 10]" showFirstLastButtons>
            </mat-paginator>
        </mat-card-content>
    </mat-card>
</div>